
<!DOCTYPE html>
<html lang="en" ng-app="hto">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="images/ico/favicon.ico">

    <title>Звіти :: Хто є хто серед депутатів</title>

    <!-- Bootstrap core CSS -->
    <link href="stylesheets/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="stylesheets/jumbotron-narrow.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="container">
      <div class="header">
        <ul class="nav nav-pills pull-right">
          <li class="active"><a href="index.html">Головна</a></li>
          <li><a href="#">Контакти</a></li>
        </ul>
        <h3 class="text-muted">Хто є хто серед депутатів</h3>
      </div>


      <div class="row" ng-controller="ReportTableController">

        <ul class="nav nav-tabs" ng-init="activePan = 1">
          <li ng-class="activePan === 1 ? 'active' : ''"><a href="" ng-click="activePan = 1">Депутати</a></li>
          <li ng-class="activePan === 2 ? 'active' : ''"><a href="" ng-click="activePan = 2">Партії</a></li>
          <li ng-class="activePan === 3 ? 'active' : ''"><a href="" ng-click="activePan = 3">Всі дані</a></li>
        </ul>

        <div class="row marketing">
        </div>

        <div ng-if="activePan === 1 " class="panel panel-default">
          <div class="panel-heading">Пропуски сессій</div>
          <div class="panel-body">
            <table class="table">
              <tr ng-repeat="row in data.tableAll">
                <td>{{row[0]}}</td>
                <td>{{row[10]}}</td>
                <td>{{row[6]}}</td>
              </tr>
            </table>
          </div>
        </div>

        <div ng-if="activePan === 2" class="panel panel-default">
          <div class="panel-heading">Відвідування сессій паріями</div>
          <div class="panel-body">
            <div style="height: 400px">
              <linechart data="charts.parties.data" options="charts.parties.options" mode=""></linechart>
            </div>

            <table class="table">
              <tr ng-repeat="row in data.tableParties">
                <td ng-repeat="value in row track by $index">{{value}}</td>
              </tr>
            </table>
          </div>
        </div>

        <div ng-if="activePan === 3 " class="panel panel-default">
          <div class="panel-heading">Відвідування сессій</div>
          <div class="panel-body">
            <table class="table table-condensed" style="font-size: 10px;">
              <tr ng-repeat="row in data.tableAll">
                <td ng-repeat="value in row track by $index">{{value}}</td>
              </tr>
            </table>
          </div>
        </div>

      </div>

      <div class="row marketing">
      </div>

      <div class="footer">
        <p>&copy; Company 2014</p>
      </div>

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.5/angular.min.js"></script>
    
    <script src="javascripts/3party/d3.v3.min.js"></script>
    <script src="javascripts/3party/line-chart.min.js"></script>

    <script src="javascripts/app.js"></script>

  </body>
</html>
