
<!DOCTYPE html>
<html lang="en" ng-app="hto">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="images/ico/favicon.ico">

    <title>Обрати Звіт :: Хто є хто серед депутатів</title>

    <!-- Bootstrap core CSS -->
    <link href="stylesheets/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="stylesheets/jumbotron-narrow.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="container">
      <div class="header">
        <ul class="nav nav-pills pull-right">
          <li class="active"><a href="index.html">Головна</a></li>
          <li><a href="#">Контакти</a></li>
        </ul>
        <h3 class="text-muted">Хто є хто серед депутатів</h3>
      </div>

      <div class="row" ng-controller="SelectTownController">
        <form role="form" class="col-md-6 col-md-offset-3">
          <div class="form-group">
            <label>Оберіть область</label>
            <select class="form-control" ng-model="query.state" ng-options="s.name for s in states"></select>
          </div>

          <div class="form-group" ng-if="query.state">
            <label>Оберіть район</label>
            <select class="form-control" ng-model="query.district" ng-options="d.name for d in query.state.districts"></select>
          </div>

          <div class="form-group" ng-if="query.district">
            <label>Оберіть населеннй пункт</label>
            <select class="form-control" ng-model="query.town" ng-options="d.name for d in query.district.towns"></select>
          </div>

          <button ng-if="isQueryComplete()" ng-click="GoToReport()" class="btn btn-default">Перейти до звітів</button>
        </form>
      </div>

      <div class="row marketing">
      </div>

      <div class="footer">
        <p>&copy; Company 2014</p>
      </div>

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.5/angular.min.js"></script>

    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="javascripts/3party/highcharts-ng.js"></script>

    <script src="javascripts/app.js"></script>
    <script src="javascripts/services.js"></script>
    <script src="javascripts/controllers.js"></script>

  </body>
</html>
